<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"><style>
    .main {
        padding-left: 8px;
    }

    .horizontal {
      display:inline;
    }
    </style>
  </head>
  <body>
    <div class ="div-form horizontal" media>
      <div id="poster" class="media-left">
      </div>
      <div class="media-body">
        <div id="name" class="media-heading">
        <h3>{{ name }}</h3>
        </div>
        <div id="desc">
        <p>{{ desc }}</p>
        </div>
      </div>
    </div>  
    <div id="list" class="div-form">
    <h4>Reviews</h4>
    </div>
    <!--modal-->
    <div id="reviewmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <h4 class="modal-title list-group-item" id="modaltitle"> </h4>
          <div class="modal-body list-group-item">
            <p id="modalbody"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    var moviename = '{{ name }}';
    var posterUrl = "http://localhost:5000/movies/get_image?file=" + moviename + ".jpg";
    function show(){
      var imagediv = document.getElementById('poster');
      var poster = document.createElement('img');
      poster.src = posterUrl;
      poster.width = "185";
      poster.classList.add('img-thumbnail');
      poster.classList.add('media-object');
      imagediv.appendChild(poster);
      get(moviename);
    }
    var get = function(moviename){
    var xmlhttp = new XMLHttpRequest();
    var reqUrl = "http://localhost:5000/reviews/search?name=" + moviename;
      xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    successFunction(JSON.parse(this.responseText));
                }
                else if (this.readyState == 4 && this.status == 404){
                    errorFunction();
                }
            };
    xmlhttp.open("GET", reqUrl, true);
    xmlhttp.send();
    function successFunction(response){ 
      var listdiv = document.getElementById('list');
      var list = document.createElement('ul');
      list.classList.add('list-unstyled');
      
      //desplegando reviews
      for(var idx = 0; idx < response.length; idx++){
        var moviereview  = document.createElement('dl');
        moviereview.classList.add('list-group-item');
        moviereview.onclick = (function() {
          var desc = response[idx].description;
          var rating = response[idx].rating;
          var username = response[idx].user;
          return function() { 
            showReviewDetails(username,rating,desc);
          }
        })();
        var rating = document.createElement('dt');
        rating.innerHTML = "Rating score: " + response[idx].rating;
        var review = document.createElement('dd');
        if(response[idx].description.length>150)
          Description = response[idx].description.substr(0,150) + "...";
        else
          Description = response[idx].description;
        review.innerHTML = "Review: " + Description; 
        moviereview.appendChild(rating);
        moviereview.appendChild(review);
        list.appendChild(moviereview);
        }
      listdiv.appendChild(list);
      
    }
    function errorFunction(){
      var container = document.getElementById('list');
      var error = document.createElement('h4');
      var terror = document.createTextNode('No reviews for this movie');
      error.appendChild(terror);
      container.appendChild(error); 
    }
  };
  function showReviewDetails(username,rating,desc){
    modaltitle = document.getElementById('modaltitle');
    modaltitle.innerHTML = moviename;
    modaldesc = document.getElementById('modalbody');
    modaldesc.innerHTML = username + "<br>";
    modaldesc.innerHTML += "Rating: " + rating + "<br><br>";
    modaldesc.innerHTML += desc;
    $("#reviewmodal").modal('show');
  }
  show();
  </script>
</html>